.anchor {
  display: flex;
  align-items: center;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #dbdbdb;
  cursor: pointer;
}

.anchor:hover,
.anchor:focus {
  background-color: #fafafa;
}

.anchor:last-child {
  border-bottom: none;
}
